/* Page Layout */

.content {
	margin: auto;
	max-width: 50%;
}


/* Title */

h1 {
	margin: auto;
	max-width: 90%;
	font-family: 'Iceland', cursive;
	font-size: 50px;
	
}

/* Headers */

h2 {
	margin-top: 40px;
	font-family: 'Roboto', cursive;
	font-size: 20px;
	font-weight: 2em;
}


/* Text */

body {
	line-height: 1.4;
	font-family: 'Roboto', cursive;
	font-size: 18px;
}

p {
	line-height: 1.4;
	font-family: 'Roboto', cursive;
	font-size: 18px;
}




/* Links */

a:link, a:visited {
	color: #33cc33;
}


/* Footer */

.footer {
	margin-top: 50px;
	font-family: 'Roboto', cursive;
	font-size: 14px;
	text-align: center;
}


/* Images */

img {
	display: block;
	margin: auto;
}
