/* Layout */

.content {
	margin: auto;
	max-width: 80%;
}



/* Text */

body {
	font-family: 'Roboto', cursive;
	font-size: 18px;
}

p {
	font-family: 'Roboto', cursive;
	font-size: 18px;
}


h1 {
	font-family: 'Iceland', cursive;
	font-size: 50px;
	
}

/* Links */

a:link, a:visited {
	color: #33cc33;
}
