/* Page Layout */

.content {
	margin: auto;
	max-width: 50%;
}
	
/* Base */
	
body { 
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
	font-size: 18px;
	}
	
p {
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	}

/* Title */

h1 {
	margin: auto;
	text-align: center;
	max-width: 90%;
	font-family: 'Iceland', serif;
	font-size: 50px;
	
}

/* Headers */

h2 {
	margin-top: 40px;
	font-family: 'Iceland', sans-serif;
	font-size: 20px;
	font-weight: 2em;
}




/* Links */

a:link, a:visited {
	color: #000000;
	}
a:hover {
	color: #000000;
}


/* Footer */

.footer {
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: center;
}


/* Images */

img {
	display: block;
	height: auto;
	width:100%;
	margin: 25px auto;
}

/* Responsive design */

@media only screen and (max-width: 768px) {
	.content {max-width: 90%;
	}

